.container {
    background-color: lightgray;
}
.img {
    float: right;
}
#img {
    float: right;
}
.card-group {
    background-color: rgb(195, 255, 195);
    padding: 12px;
}
h1 {
    text-align: center;
}
#p {
    text-align: right;
}
p {
    text-align: center;
}
h3 {
    text-align: center;
}
#nav-green {
    color: lightgreen;
    font-size: xx-large;
}
.carousel-caption {
    transform: translateY(-50%);
    bottom: 0;
    background-color: none;
    top: 60%;
}
.container-fluid {
    font-size: medium;
}
.card-body {
    padding: 5px;
}
.card {
    padding: 10px;
    margin: 10px;
}